<html> 
<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


<h1> 500px/Fresh Today </h1>
<p class='data'></p> 

<script type='text/javascript'>
	//var socket = io.connect('http://px-stream.herokuapp.com')
	var data = <%- data %>

	var socket = io.connect('<%= host %>')
	for (i in data)
		$('.data').prepend("<a id='photo' href='http://500px.com/photo/" + data[i].id + "'> <img src='" + data[i].url + "'></a>" )


	var size = 50;
	socket.on('fresh_today', function (data) {
		if ($('.data').children().size() > size) {
			$('.data').children().last().remove()
		}
		
		$('.data').prepend("<a id='photo' href='http://500px.com/photo/" + data.id + "'> <img src='" + data.url + "'></a>" )
	})
</script>


</html>